<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spotify Artist Battle</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>

  <body>
    <main class="container box">
      <section class="logo">
        <i class="fab fa-spotify" aria-hidden="true"></i>
        <h1>Spotify Artist Battle</h1>
      </section>
      <section>
        <form action="/auth/login" method="get">
        <button id="login-button" class="btn btn-large">
        Log in with Spotify
        </button>
        </form>
      </section>
    </main>
    </body>
</html>