<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
    <title>Spotify Artist Battle Template</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>

  <body>
    <main class="container">
      <section id="logo">
        <i class="fab fa-spotify icon"></i>
        <h1>Spotify Artist Battle</h1>
      </section>
      <section id="login">
        <a href="/auth/login">
        <button id="login-button" class="btn">Log in with Spotify</button>
        </a>
      </section>
    </main>
    <script src="/js/script.js"></script>
    </body>
</html>