* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    overflow: hidden;
}



 body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-color: #39107c;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100dvh
}
.container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #0f0f0f;
    padding: 3rem 0;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(2, 0, 0, 0.5);
    
}
.logo  {
    font-size: 7rem;
    color:#1DB954;
    text-align: center;

}
.logo h1 {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 3.5rem;
    padding: 1.5rem;
}
.btn {
    background-color: #1DB954;
    color: #0f0f0f;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}
.btn:hover {
    background-color: #00ff59;
    color: #0f0f0f;
}
.btn-medium {
    padding: 0.5rem 1rem;
    font-size: 2rem;
}
.btn-large {
    padding: 1.5rem 3rem;
    font-size: 2rem;
}

.battle-stage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;

}
.artist {
    width: 29.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.artist-img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.artist-name {
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
    display: none;
}
.artist-input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #fff;
    color: #0f0f0f;
    font-size: 2rem;
    text-align: center;
}
.artist-input:focus {
    outline: 0.2rem solid #1DB954;
    background-color: #f0fff6;
}

.battle-stage .vs {
    font-size: 6rem;
    color: #1DB954;
}
/* messages screen */
#messages {
    width: 100%;
    min-height: 100vh;
    color: #ff4d4d;
    background-color: #0f0f0fd8;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.messages-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    padding-top: 4rem;
    border: solid 0.5rem #ff4d4d;
    border-radius: 0.5rem;
    background-color: #fff;
}
.icon {
    width: 10rem;
    height: 10rem;
    font-size: 6rem;
    border: solid 0.5rem #ff4d4d;
    border-radius: 50%;
}
#message {
    font-size: 2rem;
    padding: 5rem 0;
    font-weight: 600;
}



 /* winner screen */
.winner-screen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.winner-title {
    font-size: 3.5rem;
    color: #1DB954;
}
.winner-img {
    width: 15rem;
    height: 15rem;
    border: 0.5rem solid #1DB954;
    border-radius: 50%;
    margin: 1rem;
}
.winner-name {
    font-size: 3rem;
    padding: 1rem;
}
.winner-followers {
    font-size: 2rem;
    padding: 0 0 2rem;
}

.winner-img.show {
    animation: fedeIn 0.6s ease-in-out;
}

@keyframes fedeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


@media screen and (max-width: 750px) {
   
   
   .container {
    padding: 0.5rem;
        width: 90%;
    }
    .box {
        height: 40vh;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box .logo {
        font-size: 6rem;
        padding: 1.5rem 0;
    }
    .box .logo h1 {
        padding: 1.5rem 0;
        font-size: 3rem;
    }
   
    .logo {
        font-size: 5rem;
    }
    .logo h1 {
        padding: 0;
        font-size: 2.5rem;
    }

    .btn-medium {
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
    }
    .btn-large {
        padding: 1rem 3rem;
        font-size: 1.5rem;
        margin: 1rem 0 1rem 0  ;
    }
   
     
   .battle-stage {
        flex-direction: column;
        gap: 0rem;
    }
    .artist {
        padding: 0.5rem 0;
    }
    .artist-img {
        width: 15rem;
        height: 15rem;
    }
   
    .artist-name {
        font-size: 1.5rem;
    }
    .artist-input {
        font-size: 1.5rem;
    }
   
    .battle-stage .vs {

        font-size: 2.5rem;
    }

    .messages-info {
        width: 30rem;

    }
    .winner-screen{
        width:30rem;
    }

    .winner-title {
        font-size: 3rem;
    }
   
    
    
}
