* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}



 body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-color: #39107c;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh
}
.container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    background-color: #0f0f0f;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(2, 0, 0, 0.5);
}
.logo  {
    font-size: 8rem;
    color:#1DB954;
    text-align: center;
    padding-top: 3rem;
}
.logo h1 {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 4rem;
    padding: 2rem;
}
.btn {
    background-color: #1DB954;
    color: #0f0f0f;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}
.btn:hover {
    background-color: #00ff59;
    color: #0f0f0f;
}
.btn-medium {
    padding: 0.5rem 1rem;
    font-size: 2rem;
}
.btn-large {
    padding: 1.5rem 3rem;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.battle-stage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap;
}
.artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}
.artist-img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.artist-name {
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 2rem;
    display: none;
}
.artist-input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #fff;
    color: #0f0f0f;
    font-size: 2rem;
    text-align: center;
}
.artist-input:focus {
    outline: 0.2rem solid #1DB954;
    background-color: #f0fff6;
}

.battle-stage .vs {
    font-size: 6rem;
    color: #1DB954;
    margin: 2rem;
}
.winner-screen {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.winner-title {
    font-size: 4rem;
    color: #1DB954;
}
.winner-img {
    width: 20rem;
    height: 20rem;
    border: 0.5rem solid #1DB954;
    border-radius: 50%;
    margin: 2rem;
}
.winner-name {
    font-size: 3rem;
    margin: 2rem;
}
.winner-followers {
    font-size: 2rem;
    margin: 0 0 2rem 0;
}

.winner-img.show {
    animation: fedeIn 0.6s ease-in-out;
}

@keyframes fedeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


@media screen and (max-width: 825px) {
   
   .container {
        margin: 0;
        padding: 0;
        width: 90%;
    }
   
    .logo {
        font-size: 6rem;
        padding: 2rem 0 0;
    }
    .logo h1 {
        padding: 0;
        font-size: 3rem;
    }

    .btn-medium {
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
    }
    .btn-large {
        padding: 1.5rem 3rem;
        font-size: 1.5rem;
    }
   
     
   .battle-stage {
        flex-direction: column;
        gap: 0rem;
    }
    .artist {
        margin: 0;
    }
    .artist-img {
        width: 15rem;
        height: 15rem;
    }
   
    .artist-name {
        display: none;
        font-size: 2.5rem;
        padding: 1rem;
    }
    .artist-input {
        font-size: 1.5rem;
    }
   
    .battle-stage .vs {
        margin: 1rem;
        font-size: 3rem;
    }

    .winner-title {
        font-size: 3rem;
    }
    .winner-img {
        width: 15rem;
        height: 15rem;
    }
 
    
}
